# User specific files
*.user
*.txt.user
*.pro.user

# Qt Creator specific files
*.qmake.stash
*.qmake.cache
.qtc_clangd/
.idea/

# CMake specific files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Build directories
build*/